<div class="card border-dark rounded shadow-sm p-3">
  <form [formGroup]="form">
    <div class="mb-4">
      <div class="row">
        <div class="form-group col-md-6">
          <label>Produto</label>
          <input type="text" class="text-capitalize form-control is-invalid"
          [ngClass]="{'is-invalid': property.nome.errors && property.nome.touched}"
          formControlName="nome" placeholder="Produto">
          <div *ngIf="property.nome.errors?.required" class="invalid-feedback">
            Produto é obrigatório.
          </div>
          <div *ngIf="property.nome.errors?.minlength" class="invalid-feedback">
            Mínimo de 3 caracteres.
          </div>
          <div *ngIf="property.nome.errors?.maxlength" class="invalid-feedback">
            Máximo de 50 caracteres.
          </div>
        </div>
        <div class="form-group col-md-3">
          <label>Categoria</label>
          <select class="form-select text-capitalize" formControlName="categoriaId"
          [ngClass]="{'is-invalid': property.categoriaId.errors && property.categoriaId.touched}">
          <option value="">Selecione...</option>
          <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.nome}}</option>
        </select>
        <div class="invalid-feedback">
          Categoria é obrigatório.
        </div>
      </div>
      <div class="form-group col-md-3">
        <label>Outro</label>
        <input type="text" class="text-capitalize form-control is-invalid"
        [ngClass]="{'is-invalid': property.outro.errors && property.outro.touched}"
        formControlName="outro" placeholder="Outro">
        <div *ngIf="property.outro.errors?.minlength" class="invalid-feedback">
          Mínimo de 3 caracteres.
        </div>
        <div *ngIf="property.outro.errors?.maxlength" class="invalid-feedback">
          Máximo de 50 caracteres.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <label>Data Compra</label>
        <input type="datetime" class="form-control is-invalid"
        bsDatepicker [bsConfig]="bsConfig"
        value="{{parcelado.dataCompra | DateTimeFormat}}"
        [ngClass]="{'is-invalid': property.dataCompra.errors && property.dataCompra.touched}"
        formControlName="dataCompra" placeholder="Data Compra">
        <div class="invalid-feedback">
          Data é obrigatório.
        </div>
      </div>
      <div class="form-group col-md-3">
        <label>Valor</label>
        <input type="text" class="form-control is-invalid"
        [ngClass]="{'is-invalid': property.valor.errors && property.valor.touched}"
        currencyMask
        formControlName="valor" placeholder="Valor">
        <div *ngIf="property.valor.errors?.required" class="invalid-feedback">
          Valor é obrigatório.
        </div>
        <div *ngIf="property.valor.errors?.min" class="invalid-feedback">
          Valor mínimo R$ 0,01.
        </div>
        <div *ngIf="property.valor.errors?.max" class="invalid-feedback">
          Valor máximo R$ 1.000.000,00.
        </div>
      </div>
      <div class="form-group col-md-3">
        <label>Nº Parcelas</label>
        <input type="number" min="2" max="1000" class="form-control is-invalid"
        [ngClass]="{'is-invalid': property.qtdParcela.errors && property.qtdParcela.touched}"
        formControlName="qtdParcela" placeholder="Nº Parcelas">
        <div *ngIf="property.qtdParcela.errors?.required" class="invalid-feedback">
          Nº Parcelas é obrigatório.
        </div>
        <div *ngIf="property.qtdParcela.errors?.min" class="invalid-feedback">
          Nº Mínimo é de 2 parcelas.
        </div>
        <div *ngIf="property.qtdParcela.errors?.max" class="invalid-feedback">
          Nº Máximo é de 1000 parcelas.
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="form-check-label">Status</label>
        <div class="form-check form-switch">
          <input type="checkbox" class="form-check-input" role="switch"
          [ngClass]="{'is-invalid': property.ativo.errors && property.ativo.touched}"
          formControlName="ativo">
        </div>
        <div class="invalid-feedback">
          Status é obrigatório.
        </div>
      </div>
    </div>
  </div>
  <div class="card border-dark rounded shadow-sm p-3">
    <div class="row">
      <div class="d-flex">
        <button class="btn btn-outline-secondary border" (click)="resetForm()">
          Cancelar Alteração
        </button>
        <button class="btn btn-primary ms-auto" [disabled]="!form.valid" (click)="salvarAlteracao()">
          Salvar Alteração
        </button>
      </div>
    </div>
  </div>
</form>
</div>

