.d-flex {
  background-color: #004487;
}

i {
  margin-left: 10px;
  font-size: 36px;
}

.lh-1 {
  margin-left: 10px;
}

.mb-0 {
  margin-left: 10px;
  font-size: 26px;
}

.button {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
