.navbar-brand {
  font-size: 36px;
  color: #004487;
  font-weight: bold;
  padding-top: 12px;
  padding-right: 100%;
}

.navbar {
  background-color: #ffffff;
}

.navbar-menu {
  background-color: #004487;
}

.card {
  background-color: #004487;
}


.navbar-user {
  font-size: 24px;
  color: #004487;
  font-weight: bold;
  padding-top: 22px;
}

div.container {
  font-size: 16px;
}

#i-t {
  color: #004487;
  font-size: 36px;
  margin-top: 5px;
  margin-right: 5px;
}

i {
  color: #ffffff;
  font-size: 24px;
  margin-top: 8px;
}

.btn-group {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 6px;
}

.btn {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  text-align: left;
  color: #ffffff;
}

.dropdown-login {
  max-width: 5%;
}
